# Device init for Alcatel 3T 8 T-Mobile
# Created by Christian Hegerstroem - 3-18-2022
# init.recovery.mt6739.rc
#

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin -r /vendor/app/mcRegistry/070b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin  -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin -r /vendor/app/mcRegistry/07090000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07050000000000000000000000003545.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system/bin/hw/android.hardware.keymaster@3.0-service
    interface android.hardware.keymaster@3.0::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/hw/android.hardware.gatekeeper@1.0-service
    class early_hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on init
    start hwservicemanager
    start keymaster_attestation-1-1
    setprop sys.usb.configfs 1
    exec u:r:recovery:s0 -- /sbin/mntl_link

    chmod 0775 /config/sdcardfs
    chown system package_info /config/sdcardfs

on fs
    export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

on late-fs
    #start hal(s) for decryption
    class_start early_hal
    chmod 0755 /sys/kernel/debug/tracing

on post-fs
    start logd
    start servicemanager

    chown system system /vendor/persist
    chmod 0771 /vendor/persist

    # We restorecon /vendor/persist to set SEPolicy label.
    restorecon /vendor/persist

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore

    # MobiCore Daemon Paths
    write /proc/bootprof "MOBICORE: export MC_AUTH_TOKEN_PATH /vendor/persist/backup"
    export MC_AUTH_TOKEN_PATH /vendor/persist/backup

on post-fs-data
    # We chown/chmod /data again because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

    # Create /data/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/key_provisioning 0771 system system
    mkdir /vendor/persist/mcRegistry 0771 system system

    # Make sure we have the device encryption key.
    installkey /data

    # Support A/B feature for boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

# One shot invocation to deal with encrypted volume.
on defaultcrypto
    exec - u:r:recovery:s0 -- /system/bin/vdc --wait cryptfs mountdefaultencrypted
    # vold will set vold.decrypt to trigger_restart_framework (default
    # encryption) or trigger_restart_min_framework (other encryption)

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (unencrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FBE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FDE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FDE encrypted)"
