# Device init for Alcatel 3T 8 T-Mobile
# Created by Christian Hegerstroem - 3-18-2022
# init.recovery.mt6739.rc
#

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin -r /vendor/app/mcRegistry/070b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin  -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin -r /vendor/app/mcRegistry/07090000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07050000000000000000000000003545.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system/bin/hw/android.hardware.keymaster@3.0-service
    interface android.hardware.keymaster@3.0::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/hw/android.hardware.gatekeeper@1.0-service
    class early_hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on init
    start hwservicemanager
    start keymaster_attestation-1-1
    setprop sys.usb.configfs 1
    exec u:r:recovery:s0 -- /sbin/mntl_link

    chmod 0775 /config/sdcardfs
    chown system package_info /config/sdcardfs

    # USB init
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount configfs none /config
    mkdir /config/usb_gadget/g1 0770 shell shell
    mkdir /config/usb_gadget/g1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/bcdUSB 0x0210
    write /config/usb_gadget/g1/os_desc/use 1
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/mass_storage.usb0
    mkdir /config/usb_gadget/g1/functions/mtp.gs0
    write /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP/compatible_id "MTP"
    mkdir /config/usb_gadget/g1/functions/ptp.gs1
    mkdir /config/usb_gadget/g1/functions/accessory.gs2
    mkdir /config/usb_gadget/g1/functions/audio_source.gs3
    mkdir /config/usb_gadget/g1/functions/midi.gs5
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/hid.gs0
    mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

on fs
    export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

on late-fs
    #start hal(s) for decryption
    class_start early_hal
    chmod 0755 /sys/kernel/debug/tracing

on post-fs
    start logd
    start servicemanager

    chown system system /vendor/persist
    chmod 0771 /vendor/persist

    # We restorecon /vendor/persist to set SEPolicy label.
    restorecon /vendor/persist

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore

    # MobiCore Daemon Paths
    write /proc/bootprof "MOBICORE: export MC_AUTH_TOKEN_PATH /vendor/persist/backup"
    export MC_AUTH_TOKEN_PATH /vendor/persist/backup



on post-fs-data
    # We chown/chmod /data again because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

    # Create /data/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/key_provisioning 0771 system system
    mkdir /vendor/persist/mcRegistry 0771 system system

    # Make sure we have the device encryption key.
    installkey /data

    # Support A/B feature for boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on boot
    # USB Init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.acm_cnt 0
    setprop sys.usb.acm_port0 ""
    setprop sys.usb.acm_port1 ""
    setprop sys.usb.temp ""
    setprop sys.usb.acm_enable 0
    setprop sys.usb.clear boot
    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0xF0
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial

on charger
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/idVendor 0x0E8D
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/hid.gs0
    mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.acm_cnt 0
    setprop sys.usb.acm_port0 ""
    setprop sys.usb.acm_port1 ""
    setprop sys.usb.acm_enable 0
    setprop sys.usb.clear boot
    setprop sys.usb.config hid

on property:sys.usb.config=none
    write /config/usb_gadget/g1/UDC "none"
    stop adbd
    setprop sys.usb.ffs.ready 0
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.config=adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/product ${sys.usb.product}
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/idVendor 0x1BBB
    write /config/usb_gadget/g1/idProduct 0x0167
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/product ${sys.usb.product}
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/idVendor 0x1BBB
    write /config/usb_gadget/g1/idProduct 0x201C
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
setprop sys.usb.state ${sys.usb.config}


on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

# One shot invocation to deal with encrypted volume.
on defaultcrypto
    exec - u:r:recovery:s0 -- /system/bin/vdc --wait cryptfs mountdefaultencrypted
    # vold will set vold.decrypt to trigger_restart_framework (default
    # encryption) or trigger_restart_min_framework (other encryption)

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (unencrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FBE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FDE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FDE encrypted)"

on property:sys.usb.charging=yes
    write /sys/class/udc/musb-hdrc/device/cmode 2
on property:sys.usb.charging=no
    write /sys/class/udc/musb-hdrc/device/cmode 1

on property:mediatek.em.usb.bypass.enable=0
    write /sys/class/usb_rawbulk/gps/enable 1
on property:mediatek.em.usb.bypass.enable=1
    write /sys/class/usb_rawbulk/pcv/enable 1
on property:mediatek.em.usb.bypass.enable=2
    write /sys/class/usb_rawbulk/atc/enable 1
on property:mediatek.em.usb.bypass.enable=3
    write /sys/class/usb_rawbulk/ets/enable 1
on property:mediatek.em.usb.bypass.enable=4
    write /sys/class/usb_rawbulk/data/enable 1
on property:mediatek.em.usb.bypass.disable=0
    write /sys/class/usb_rawbulk/gps/enable 0
on property:mediatek.em.usb.bypass.disable=1
    write /sys/class/usb_rawbulk/pcv/enable 0
on property:mediatek.em.usb.bypass.disable=2
    write /sys/class/usb_rawbulk/atc/enable 0
on property:mediatek.em.usb.bypass.disable=3
    write /sys/class/usb_rawbulk/ets/enable 0
on property:mediatek.em.usb.bypass.disable=4
    write /sys/class/usb_rawbulk/data/enable 0
